<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.css'/>
<link rel='stylesheet' href='/css/bootstrap-theme.css'/>
<link rel='stylesheet' href='/css/bootstrap.css.map'/>
<link rel='stylesheet' href='/css/bootstrap.min.css'/>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />

    <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600' rel='stylesheet'>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
	<style>
 html {
            background: url(http://multimedia.post-gazette.com/ThenNow/Hill/Devillers/before.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        body {
            padding-top: 0px;
            font-size: 16px;
            font-family: "Open Sans",serif;
            background: transparent;
        }

        h1 {
            font-family: "Abel", Arial, sans-serif;
            font-weight: 400;
            font-size: 40px;
        }

        /* Override B3 .panel adding a subtly transparent background */
        .panel {
            background-color: rgba(255, 255, 255, 0.9);
        }

        .margin-base-vertical {
            margin: 40px 0;
        }

    </style>

  </head>
  <body>
	
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">LendingChance.com</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling 
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Link</a></li>
	        <li><a href="#">Link</a></li>
	        
	      </ul>
	      -->
	      <ul class="nav navbar-nav navbar-right">
			<form action="/login" method="post" class="form-inline">
				<div class="form-group">
				        <input type="text" class="form-control" name="email" placeholder="Email">
				    </div>
				    <div class="form-group">    
				         <input type="password" class="form-control" name="password" placeholder="Password">
				    </div>
			
						<button type="submit" class="btn btn-warning btn-sm">login</button>
				
				</form>
	       
	        
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 panel panel-default">

                <h1 class="margin-base-vertical">Grow Businesses and Communities With Lending Chance</h1>

                <p>
                    LendingChance.com is a p2p loaning platform that focuses on providing competitive loans to business owners in economically deprived communities. 
                </p>
                <p>
     			
                </p>
				<br>
                <p>
                    Join LendingChance and help stimulate economic growth in communities across America.
                </p>

                <form action="/signup"class="margin-base-vertical">
                    
                  
                    <p class="text-center">
                        <button type="submit" class="btn btn-success btn-lg">Join LendingChance</button>
                    </p>
                    </span>
                </form>

                <div class="margin-base-vertical">
                   
                </div>

            </div><!-- //main content -->
        </div><!-- //row -->
    </div> <!-- //container -->
<span id="cdSiteSeal1"><script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal1&amp;cdSealType=Seal1&amp;sealId=55e4ye7y7mb73ed43628b564f73e2df0zqy7mb7355e4ye71ec3e4c4500f6ee93"></script></span>
</body>
</html>

